# PostgreSQL initialization
POSTGRES_USER=replace_with_postgres_admin_user
POSTGRES_PASSWORD=replace_with_postgres_admin_password
POSTGRES_DB=postgres

# PostgreSQL database for n8n
N8N_DB_NAME=n8n_db
N8N_DB_USER=replace_with_n8n_db_user
N8N_DB_PASSWORD=replace_with_n8n_db_password

# PostgreSQL database for SmartDesk
SMARTDESK_DB_NAME=smartdesk_db
SMARTDESK_DB_USER=replace_with_smartdesk_db_user
SMARTDESK_DB_PASSWORD=replace_with_smartdesk_db_password

# n8n
N8N_ENCRYPTION_KEY=replace_with_random_n8n_encryption_key
N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
TELEGRAM_CHAT_ID=replace_with_telegram_chat_id
GENERIC_TIMEZONE=America/Lima
TZ=America/Lima
